body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeefef;
  width: 100%;
  overflow-y:scroll;
}

div#root {
  width: 800px;  
  /* width:100%; */
  /* box-sizing: border-box; */
  /* padding: 20px; */
  margin-left: auto;
  margin-right: auto;
}
